h1 {
    text-align: center;
}

form {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    align-content: center;
    border:1px solid #000;
    display:inline-block;
    position: relative;
    border-radius: 5px;
}

input, text {
    outline-width: 0;
    background-color:transparent;
    border:0;       
    padding-right: 5px;
    padding-left: 5px;
}

body {
    font-size: 75%;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

#body {
    clear: both;
    margin: 0 auto;
    max-width: 534px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
    margin-top:35px;
}

#body td {
    padding:15px 30px 15px 10px;
}

#body tr td:nth-child(1) {
    font-weight:bold;
}

#body tr td:nth-child(2) {
    width: 15em;
}

#address {
    width:400px;
}